<!DOCTYPE html>
<html>
<head>
    <title>Registrations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h2>All Registrations</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Event</th>
        </tr>
        {% for reg in data %}
        <tr>
            <td>{{ reg.name }}</td>
            <td>{{ reg.email }}</td>
            <td>{{ reg.event_name }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
